<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h3 class="panel-title">Admin Component</h3>
    </div>
    <div class="panel-body">
        <div class=" container">

            <legend>Enter user Information and Save</legend>

            <div class="form-group">
                <label for="">User Name</label>
                <input type="text" class="form-control" value="" placeholder="Enter User name"
                    [(ngModel)]="userInformation.name">
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" value="" placeholder="Enter Email"
                    [(ngModel)]="userInformation.email">
            </div>

            <div class="form-group">
                <label for="">Phone Number</label>
                <input type="text" class="form-control" value="" placeholder="Enter phone"
                    [(ngModel)]="userInformation.phoneNumber">
            </div>
            <button type="submit" class="btn btn-primary" (click)="storeUserInformation()">Save</button>


            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUserInformation">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phoneNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-user [allUserInformation]="allUserInformation"></app-user>